<p id="notice"><%= notice %></p>

<h1>Listing Catalogs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total items</th>
      <th>Total cost</th>
      <th>Avg cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- using collection concept -->
    <%= concept("catalog/cell/index", collection: @model) %>
  </tbody>
</table>

<br>

<%= link_to 'New Catalog', new_catalog_path %>
